#top-nav {
    z-index: 9;
}

.sideNav {
    background-color: #111;
    padding-top: 60px;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav .btn-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    /* margin-left: 50px; */
    cursor: pointer;
    color: #fff;
}

.menu-icon{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
